.pluss {
  background: transparent;
  padding: 5px 10px;
  border-radius: 100%;
  margin-bottom: 10px;
  color: rgb(122, 23, 179);
  border: 2px solid rgb(122, 23, 179);
  background-color: transparent;
  transition: 0.1s;
}

li {
  list-style: none;
}
.cotegory {
  font-size: 18px;
  text-transform: uppercase;
}
.productts {
  margin-bottom: 5px;
  display: flex;
  height: 50px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.data-rsbs-overlay {
  z-index: 22 !important;
}
.productss {
  margin-right: auto;
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  gap: 5px;
  height: 70px;
}
.floating_button {
  position: absolute;
}
.paragraph {
  display: flex;
  text-align: center;
  margin-bottom: 10px;
}
.table {
  margin-right: auto;
  display: inline-flex;
  flex-direction: row;
}

.mywrapperr {
  flex-wrap: nowrap;
  margin: 0, 30px;
  flex-direction: column;
}
.pplus {
  background: transparent;
  margin-right: auto;
  border-radius: 100%;
  margin-bottom: 10px;
  color: rgb(122, 23, 179);
  border: 2px solid rgb(122, 23, 179);
  background-color: transparent;
  transition: 0.1s;
}

.firstName {
  margin-top: 5px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
}
.secondName {
  margin-top: -20px;
  color: #1948f0;
}

.plu {
  background-image: linear-gradient(94.21deg, #60df40 -4.66%, #0dc3ce 93.91%);
  box-shadow: 0px -1px 35px -1px rgba(24, 171, 138, 0.37);

  border: 0;
  border-radius: 10px;
  margin: 60px auto;
  width: 130px;
  height: 35px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
.p {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-bottom: 30px;
  margin-top: auto;
  position: relative;
}
.pl {
  background-image: linear-gradient(94.21deg, #fc8e3e -4.66%, #c20fa6 93.91%);
  box-shadow: 0px -1px 35px -1px rgba(201, 45, 45, 0.37);
  border: 0;
  width: 100%;
  height: 58px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
.main {
  overflow: auto;
  height: 600px;
  padding: 10px;
}
