.searchMain {
  z-index: 999;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  left: 0;
  right: 0;
  display: block;
  position: absolute;
}
.searcher {
  transition: 1s;
  left: 360px;
  border: none;
  background: transparent;
  position: absolute;
  margin-top: -1;
  top: 49px;
}
.searchOne {
  z-index: 999;
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  height: 80px;
  box-shadow: -2px -1px 8px 0px rgba(34, 60, 80, 0.28);
  border-radius: 20px;
}

.searchWrapper {
  z-index: 999;
  max-height: 400px;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: -2px 1px 8px 3px rgba(34, 60, 80, 0.28);
  border-radius: 20px;
  max-width: 250px;
}

.searchInput {
  color: rgb(24, 124, 223);
  padding: 5px;
  box-shadow: -4px 4px 19px 5px rgba(34, 60, 80, 0.2);
  height: 30px;
  border: 0px solid rgb(51, 51, 51);
  border-radius: 10px;
  width: 300px;
  padding-left: 20px;
  font-size: 0.9rem;
}

.searchInput:focus {
  outline: none;
}
@media only screen and (min-width: 992px) {
  .searcher {
    transition: 1s;
    margin-left: 122px;
    border: none;
    background: transparent;
    position: absolute;
    margin-top: -1;
  }
}

.button_plus {
  margin-left: 2px;
  border-radius: 100%;
  height: 30px;
  padding: 0 10px;
  border: 2px solid rgb(122, 23, 179);
  background-color: transparent;
  transition: 0.1s;
  margin-bottom: 10px;
  margin-left: 15px;
}
.cheklist {
  width: 500px;
  margin: 70px auto;
}
.filterButton {
  border: none;
  color: white;
  background: linear-gradient(94.21deg, #60df40 -4.66%, #0dc3ce 93.91%);
  border-radius: 10px;
  margin-left: auto;
}

.errorInput {
  animation-name: shake;
  animation-duration: 0.7s, 0.35s;
  animation-iteration-count: 1, 2;
}
@keyframes shake {
  0%,
  20%,
  40%,
  60%,
  80% {
    transform: translateX(8px);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-8px);
  }
}
